<ion-nav-bar class="bar-dark bar-positive">
	<a href="index.html"><button class="back button button-clear">Back</button></a>
</ion-nav-bar>
<ion-view title="{{content[whichDragon].dragon_name}}" animation="slide-in-up">
	<ion-content padding="true" id="details">    
        <div id="detailImg"><img data-ng-src="img/{{content[whichDragon].dragon_img}}" alt="{{content[whichDragon].dragon_name}}" /></div><br><br>
		<span class="textLeft">Family:</span><span class="textRight">{{content[whichDragon].dragon_family}}</span><br>
        <span class="textLeft">Location:</span><span class="textRight">{{content[whichDragon].dragon_location}}</span><br>
        <span class="textLeft">Level:</span><span class="textRight">{{content[whichDragon].dragon_level}}</span><br><br>
        <p>"{{content[whichDragon].dragon_desc}}"</p>
	</ion-content>
</ion-view>