<ion-nav-bar class="bar-dark">
	<ion-nav-title>Dragons</ion-nav-title>
	<ion-nav-buttons side="left">
		<button class="button" ng-click="sharePrompt()">Find</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button" ng-click="sortPrompt()">Sort</button>
	</ion-nav-buttons>
</ion-nav-bar>

<ion-view>
	<ion-content padding="true" class="has-header">
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios7-search placeholder-icon"></i>
				<input type="search" placeholder="Search" name="search" data-ng-model="searchFilter.dragon_name"/>
			</label>
		</div>
		<ion-item class="listHead" ng-style="showHide">Black</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Black'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Black'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool"
						ng-click="saveProgress({{item.dragon_id}})">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		<div class="clear"></div>
		<ion-item class="listHead" ng-style="showHide">Blue</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Blue'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>

			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Blue'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Brown</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Brown'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Brown'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Gold</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Gold'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Gold'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Green</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Green'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Green'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Grey</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Grey'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Grey'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Orange</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Orange'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Orange'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Pink</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Pink'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Pink'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Purple</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Purple'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Purple'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Red</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Red'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Red'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Silver</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Silver'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Silver'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">White</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'White'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'White'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Yellow</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{colour_name:'Yellow'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{colour_name:'Yellow'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item id="listBottom"></ion-item>
	</ion-content>
</ion-view>
	<nav class="tabs tabs-icon-top tabs-dark">
		<a class="tab-item" ui-sref="home" data-ui-sref-opts="{reload: true}">
			<i class="homeIcon"></i><br>Home
		</a>
		<a class="tab-item" ui-sref="dragonsFamily" data-ui-sref-opts="{reload: true}">
			<i class="dragonIcon"></i><br>Dragons
		</a>
		<a class="tab-item" ui-sref="characters" data-ui-sref-opts="{reload: true}">
			<i class="characterIcon"></i><br>Characters
		</a>
		<a class="tab-item" ui-sref="settings" data-ui-sref-opts="{reload: true}">
			<i class="settingsIcon"></i><br>Settings
		</a>
	</nav>

<!--- Character Selection from Search --->
<script id="charSelect-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-nav-bar class="bar-dark">
	<ion-nav-title>Select Character</ion-nav-title>
	<ion-nav-buttons side="left">
		<button ng-click="closeCharSelectModal()" class="button button-dark">Cancel</button>
	</ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <br><br><br>
            <ion-list>
                <span ng-repeat="content in characterData"  >
                    <ion-item ng-click="callCharacterProgress({{content.character_id}})" ng-class="settingsItem" ng-class-odd="'odd'" ng-class-even="'even'" class="friendList">
                        <div class="nameSpread">{{content.character_name}}</div>
                        <div class="serverSpread">{{content.server_name}}</div>
                        <i class="icon chevRight ion-chevron-right icon-accessory"></i>
                    </ion-item>
				</span>
            </ion-list>
    </ion-content>
  </ion-modal-view>
</script>

<!--- Character Progress View --->
<script id="charProgress-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-nav-bar class="bar-dark">
            <ion-nav-title>Friends Progress</ion-nav-title>
                <ion-nav-buttons side="left">
                    <button ng-click="closeCharProgressModal()" class="button button-dark">Close</button>
                </ion-nav-buttons>
            </ion-nav-bar>
        <ion-content>
        <br><br><br>
        <div class="modalContent">
                <ion-list>
                    <ion-item class="listCheck" ng-repeat="dragon in dragonData" ng-class-odd="'odd'" ng-class-even="'even'">
                        <div>
                            <img data-ng-src="img/icons/{{dragon.family_id}}/{{dragon.dragon_th}}.png" alt="{{dragon.dragon_name}}" class="thumb"/>
                            <h2 class="listTop">{{dragon.dragon_name}}</h2><br>
                            <h3 class="listBottom">{{dragon.colour_name}}</h3><br>
                        </div>
                    </ion-item>
		</ion-list>
            </div>
        </ion-content>
    </ion-modal-view>
</script>