<ion-nav-bar class="bar-dark">
	<ion-nav-title>Dragons</ion-nav-title>
	<ion-nav-buttons side="left">
		<button class="button" ng-click="sharePrompt()">Find</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button" ng-click="sortPrompt()">Sort</button>
	</ion-nav-buttons>
</ion-nav-bar>

<ion-view>
	<ion-content class="has-header">
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios7-search placeholder-icon"></i>
				<input type="search" placeholder="Search" name="search" data-ng-model="searchFilter.dragon_name"/>
			</label>
		</div>
		<ion-item class="listHead" ng-style="showHide">Ancient</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Ancient'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Ancient'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool"
						ng-click="saveProgress({{item.dragon_id}})">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		<div class="clear"></div>
		<ion-item class="listHead" ng-style="showHide">Aqua</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Aqua'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>

			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Aqua'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Assault</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Assault'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Assault'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Dunestalker</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Dunestalker'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Dunestalker'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Duskreaver</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Duskreaver'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Duskreaver'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Eastern</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Eastern'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Eastern'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Fabled Ancient</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Fabled Ancient'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Fabled Ancient'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Hydra</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Hydra'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Hydra'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Ironhide</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Ironhide'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Ironhide'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Mythical</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Mythical'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Mythical'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Paragon</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Paragon'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Paragon'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Phantom</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Phantom'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Phantom'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Razorspine</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Razorspine'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Razorspine'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Skytouched</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Skytouched'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Skytouched'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool"
						ng-click="save()">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Stalwart</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Stalwart'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Stalwart'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Swiftfoot</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Swiftfoot'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Swiftfoot'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<ion-item class="listHead" ng-style="showHide">Windrider</ion-item>
		<div class="listMainLeft">
		<ion-list>
			<ion-item class="listCheck" ng-repeat="content in contents | filter:{family_name:'Windrider'}:true | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'">
			<div >
			<img data-ng-src="img/icons/{{content.family_id}}/{{content.dragon_th}}.png" alt="{{content.dragon_name}}" class="thumb"/>
			<a href="#details/{{content.dragon_id}}">
				<h2 class="listTop">{{content.dragon_name}}</h2>
			</a><br>
			<h3 class="listBottom">{{content.family_name}}</h3><br>
			</div>
			</ion-item>
		</ion-list>
		</div>
		<div class="listMainRight">
			<ion-checkbox class="listCheck" ng-repeat="item in progressList | filter:{family_name:'Windrider'}:true | filter:{character_id:characterID} | filter:searchFilter" ng-class-odd="'odd'" ng-class-even="'even'"
						ng-model="item.bool" 
						ng-checked="item.bool">
			  <span class="invis">{{ item.bool }}</span>
			</ion-checkbox>
		</div>
		
		<br><br><br>
	</ion-content>
</ion-view>
	<nav class="tabs tabs-icon-top tabs-dark">
		<a class="tab-item" ui-sref="home" data-ui-sref-opts="{reload: true}">
			<i class="homeIcon"></i><br>Home
		</a>
		<a class="tab-item" ui-sref="dragonsFamily" data-ui-sref-opts="{reload: true}">
			<i class="dragonIcon"></i><br>Dragons
		</a>
		<a class="tab-item" ui-sref="characters" data-ui-sref-opts="{reload: true}">
			<i class="characterIcon"></i><br>Characters
		</a>
		<a class="tab-item" ui-sref="settings" data-ui-sref-opts="{reload: true}">
			<i class="settingsIcon"></i><br>Settings
		</a>
	</nav>

<!--- Character Selection from Search --->
<script id="charSelect-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-nav-bar class="bar-dark">
	<ion-nav-title>Select Character</ion-nav-title>
	<ion-nav-buttons side="left">
		<button ng-click="closeCharSelectModal()" class="button button-dark">Cancel</button>
	</ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <br><br><br>
        <div class="modalContent">
        
            <ion-list>
                <ion-item class="itemHeading">
                    <span class="nameSpread charSelHead">Character Name</span><span class="serverSpread charSelHead">Server</span>
		</ion-item>
                <span ng-repeat="content in characterData" class="clearLink" >
                    <ion-item ng-click="callCharacterProgress({{content.character_id}})" ng-class="settingsItem" ng-class-odd="'odd'" ng-class-even="'even'">
                        <div class="nameSpread">{{content.character_name}}</div>
                        <div class="serverSpread">{{content.server_name}}</div>
                        <i class="icon chevRight ion-chevron-right icon-accessory"></i>
                    </ion-item>
		</span>
            </ion-list>
        </div>
    </ion-content>
  </ion-modal-view>
</script>

<!--- Character Progress View --->
<script id="charProgress-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-nav-bar class="bar-dark">
            <ion-nav-title>Friend's Progress</ion-nav-title>
                <ion-nav-buttons side="left">
                    <button ng-click="closeCharProgressModal()" class="button button-dark">Close</button>
                </ion-nav-buttons>
            </ion-nav-bar>
        <ion-content>
        <br><br><br>
        <div class="modalContent">
                <ion-list>
                    <ion-item class="listCheck" ng-repeat="dragon in dragonData" ng-class-odd="'odd'" ng-class-even="'even'">
                        <div>
                            <img data-ng-src="img/icons/{{dragon.family_id}}/{{dragon.dragon_th}}.png" alt="{{dragon.dragon_name}}" class="thumb"/>
                            <h2 class="listTop">{{dragon.dragon_name}}</h2><br>
                            <h3 class="listBottom">{{dragon.family_name}}</h3><br>
                        </div>
                    </ion-item>
		</ion-list>
            </div>
        </ion-content>
    </ion-modal-view>
</script>