<ion-nav-bar class="bar-dark">
  <ion-nav-buttons side="left">
		<a class="button" ui-sref="settings" href="#/settings">Back</a>
	</ion-nav-buttons>
	<ion-nav-title>FAQs</ion-nav-title>
</ion-nav-bar>
<ion-view>
	<ion-content padding="true" class="has-header">
		<ion-list>
		<a href="#settingsFAQAnswer/{{contents.indexOf(content)}}" ng-repeat="content in contents" class="clearLink" >
			<ion-item class="settingsItem" ng-class-odd="'odd'" ng-class-even="'even'">
				{{content.faq_title}}
				<i class="icon chevRight ion-chevron-right icon-accessory"></i>
			</ion-item>
			</a>
		</ion-list>
	</ion-content>
</ion-view>
	<nav class="tabs tabs-icon-top tabs-dark">
		<a class="tab-item" ui-sref="home" data-ui-sref-opts="{reload: true}">
			<i class="homeIcon"></i><br>Home
		</a>
		<a class="tab-item" ui-sref="dragonsFamily" data-ui-sref-opts="{reload: true}">
			<i class="dragonIcon"></i><br>Dragons
		</a>
		<a class="tab-item" ui-sref="characters" data-ui-sref-opts="{reload: true}">
			<i class="characterIcon"></i><br>Characters
		</a>
		<a class="tab-item" ui-sref="settings" data-ui-sref-opts="{reload: true}">
			<i class="settingsIcon"></i><br>Settings
		</a>
	</nav>